In [1]:
import numpy as np
import pandas as pd

In [59]:
shape_dataset = pd.read_csv("/home/hasan/files/cf_report_1281911_full.csv")

In [60]:
shape_dataset.head()

,id,on_a_scale_of_1_to_7_how_much_shape1_is_similar_to_shape2__with_7_being_the_highest_level_of_similarity,image_source,image_source1,image_source2,shape1,shape2
0,3844223449,7,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,high convexity
1,3844227993,7,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,high convexity
2,3844229416,7,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,high convexity
3,3844134335,1,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,thin rectangular
4,3844162096,1,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,thin rectangular

In [61]:
shape_dataset= shape_dataset.drop(["id","image_source","image_source1","image_source2"],1)

In [62]:
shape_dataset.head()

,on_a_scale_of_1_to_7_how_much_shape1_is_similar_to_shape2__with_7_being_the_highest_level_of_similarity,shape1,shape2
0,7,high convexity,high convexity
1,7,high convexity,high convexity
2,7,high convexity,high convexity
3,1,high convexity,thin rectangular
4,1,high convexity,thin rectangular

In [63]:
shape_dataset = shape_dataset.rename(columns={"on_a_scale_of_1_to_7_how_much_shape1_is_similar_to_shape2__with_7_being_the_highest_level_of_similarity":"similarity"})

In [64]:
shape_dataset.head()

   similarity          shape1            shape2
0           7  high convexity    high convexity
1           7  high convexity    high convexity
2           7  high convexity    high convexity
3           1  high convexity  thin rectangular
4           1  high convexity  thin rectangular

In [65]:
#Reordering the columns

In [66]:
columnnames = ["shape1","shape2","similarity"]

In [67]:
shape_dataset = shape_dataset.reindex(columns=columnnames)

In [68]:
shape_dataset.head()

           shape1            shape2  similarity
0  high convexity    high convexity           7
1  high convexity    high convexity           7
2  high convexity    high convexity           7
3  high convexity  thin rectangular           1
4  high convexity  thin rectangular           1

In [77]:
shape_dataset.head()

           shape1            shape2  similarity
0  high convexity    high convexity           7
1  high convexity    high convexity           7
2  high convexity    high convexity           7
3  high convexity  thin rectangular           1
4  high convexity  thin rectangular           1

In [74]:
shape_dataset_mean = shape_dataset.groupby(["shape1","shape2"]).mean()

In [78]:

shape_dataset_mean.head()

                                similarity
shape1 shape2
cuboid cuboid                     7.000000
       cylinder                   2.333333
       handle with bristles       1.000000
       high convexity             1.000000
       long narrow rectangular    4.000000

In [76]:
shape_dataset_mean.to_csv("/home/hasan/files/shape_dataset_mean")

In [79]:
shape_dataset_mean = pd.read_csv("/home/hasan/files/shape_dataset_mean")

In [83]:
shape_dataset_mean.head(15)

      shape1                                  shape2  similarity
0     cuboid                                  cuboid    7.000000
1     cuboid                                cylinder    2.333333
2     cuboid                    handle with bristles    1.000000
3     cuboid                          high convexity    1.000000
4     cuboid                 long narrow rectangular    4.000000
5     cuboid            medium convexity with handle    1.666667
6     cuboid              rectangular thin with legs    5.333333
7     cuboid  rectangular thin with legs and drawers    2.333333
8     cuboid                 small thick rectangular    5.666667
9     cuboid                        thin rectangular    4.000000
10  cylinder                                  cuboid    2.333333
11  cylinder                                cylinder    7.000000
12  cylinder                    handle with bristles    1.666667
13  cylinder                          high convexity    4.000000
14  cylinder                 long narrow rectangular    2.666667

In [84]:
b=shape_dataset_mean.drop(shape_dataset_mean.columns[[0,1]],axis=1)

In [85]:
b.head()

   similarity
0    7.000000
1    2.333333
2    1.000000
3    1.000000
4    4.000000

In [88]:
result = pd.DataFrame(np.reshape(b.values,(10,10)),columns=["cuboid","cylinder","handle with bristles","high convexity","long narrow rectangular","medium convexity with handle","rectangular thin with legs","rectangular thin with legs and drawers","small thick rectangular","thin rectangular"],index=["cuboid","cylinder","handle with bristles","high convexity","long narrow rectangular","medium convexity with handle","rectangular thin with legs","rectangular thin with legs and drawers","small thick rectangular","thin rectangular"])

In [89]:
result.head()

,cuboid,cylinder,handle with bristles,high convexity,long narrow rectangular,medium convexity with handle,rectangular thin with legs,rectangular thin with legs and drawers,small thick rectangular,thin rectangular
cuboid,7.000000,2.333333,1.000000,1.000000,4.000000,1.666667,5.333333,2.333333,5.666667,4.000000
cylinder,2.333333,7.000000,1.666667,4.000000,2.666667,3.000000,1.000000,1.000000,1.333333,1.000000
handle with bristles,1.000000,1.000000,7.000000,1.333333,1.000000,1.000000,1.666667,1.333333,1.333333,2.333333
high convexity,2.000000,4.333333,1.000000,7.000000,2.666667,5.333333,1.000000,1.666667,1.000000,1.000000
long narrow rectangular,4.000000,3.000000,2.333333,3.666667,7.000000,1.333333,4.000000,3.666667,4.000000,4.666667