In [1]:
import pandas as pd

In [2]:
data_mat = pd.read_csv("/home/hasan/Documents/BitRepos/orocv2/Material-data-extend-mean.csv")
data_shape = pd.read_csv("/home/hasan/Documents/BitRepos/orocv2/Shape-data-extend-mean.csv")

In [3]:
data_mat.head()

    object1    object2  similarity
0  Adhesive   Adhesive    7.000000
1  Adhesive      Brick    1.371429
2  Adhesive  Cardboard    1.514286
3  Adhesive    Ceramic    1.771429
4  Adhesive      Cloth    1.771429

In [4]:
data_shape.head()

  object1                  object2  Unnamed: 0  similarity
0  cuboid                   cuboid      1942.0    7.000000
1  cuboid                 cylinder      1907.0    2.114286
2  cuboid     handle with bristles      1977.0    1.400000
3  cuboid           high convexity      1767.0    1.371429
4  cuboid  long narrow rectangular      1837.0    4.457143

In [6]:
data_mat=data_mat.round({"similarity":2})

In [7]:
data_shape.columns

Index(['object1', 'object2', 'Unnamed: 0', 'similarity'], dtype='object')

In [9]:
data_shape=data_shape.drop("Unnamed: 0", axis=1)

In [10]:
data_shape= data_shape.round({"similarity":2})

In [14]:
data_mat.to_csv("/home/hasan/Documents/data/Material-data-extend-mean.csv",index=False)

In [15]:
data_shape.to_csv("/home/hasan/Documents/data/Shape-data-extend-mean.csv",index=False)