In [6]:
import numpy as np
import pandas as pd

In [8]:
shape_dataset = pd.read_csv("/home/hasan/Downloads/Batch_3742618_batch_results.csv")

In [9]:
shape_dataset.head()

,HITId,HITTypeId,Title,Description,Keywords,Reward,CreationTime,MaxAssignments,RequesterAnnotation,AssignmentDurationInSeconds,...,WorkTimeInSeconds,LifetimeApprovalRate,Last30DaysApprovalRate,Last7DaysApprovalRate,Input.item1_title,Input.item2_title,Answer.equal,Answer.equal.label,Approve,Reject
0,3HKIF5DF6ZAXB36MKU0GQA7YX2J9GG,3GC398RH53D7U3QVL2N9V8SXVM3KP0,How similar are the two materials?,In this task you will compare two sets of mate...,"item, equality, comparison",$0.02,Wed Aug 21 08:16:06 PDT 2019,35,BatchId:3742618;OriginalHitTemplateId:928390889;,300,...,6,0% (0/0),0% (0/0),0% (0/0),Ceramic,Paper,NaN,Very Low,NaN,NaN
1,3HKIF5DF6ZAXB36MKU0GQA7YX2J9GG,3GC398RH53D7U3QVL2N9V8SXVM3KP0,How similar are the two materials?,In this task you will compare two sets of mate...,"item, equality, comparison",$0.02,Wed Aug 21 08:16:06 PDT 2019,35,BatchId:3742618;OriginalHitTemplateId:928390889;,300,...,4,100% (2/2),0% (0/0),0% (0/0),Ceramic,Paper,NaN,Very Low,NaN,NaN
2,3HKIF5DF6ZAXB36MKU0GQA7YX2J9GG,3GC398RH53D7U3QVL2N9V8SXVM3KP0,How similar are the two materials?,In this task you will compare two sets of mate...,"item, equality, comparison",$0.02,Wed Aug 21 08:16:06 PDT 2019,35,BatchId:3742618;OriginalHitTemplateId:928390889;,300,...,9,0% (0/0),0% (0/0),0% (0/0),Ceramic,Paper,NaN,Low,NaN,NaN
3,3HKIF5DF6ZAXB36MKU0GQA7YX2J9GG,3GC398RH53D7U3QVL2N9V8SXVM3KP0,How similar are the two materials?,In this task you will compare two sets of mate...,"item, equality, comparison",$0.02,Wed Aug 21 08:16:06 PDT 2019,35,BatchId:3742618;OriginalHitTemplateId:928390889;,300,...,162,100% (116/116),0% (0/0),0% (0/0),Ceramic,Paper,NaN,Very Low,NaN,NaN
4,3HKIF5DF6ZAXB36MKU0GQA7YX2J9GG,3GC398RH53D7U3QVL2N9V8SXVM3KP0,How similar are the two materials?,In this task you will compare two sets of mate...,"item, equality, comparison",$0.02,Wed Aug 21 08:16:06 PDT 2019,35,BatchId:3742618;OriginalHitTemplateId:928390889;,300,...,6,0% (0/0),0% (0/0),0% (0/0),Ceramic,Paper,NaN,Low,NaN,NaN

In [11]:
shape_dataset= shape_dataset.drop(['HITId','HITTypeId','Title','Description','Keywords','Reward','CreationTime','MaxAssignments','RequesterFeedback','WorkTimeInSeconds','LifetimeApprovalRate','Last30DaysApprovalRate','Last7DaysApprovalRate','Approve','Reject'],axis=1)

In [12]:
shape_dataset.head()

,RequesterAnnotation,AssignmentDurationInSeconds,AutoApprovalDelayInSeconds,Expiration,NumberOfSimilarHITs,LifetimeInSeconds,AssignmentId,WorkerId,AssignmentStatus,AcceptTime,SubmitTime,AutoApprovalTime,ApprovalTime,RejectionTime,Input.item1_title,Input.item2_title,Answer.equal,Answer.equal.label
0,BatchId:3742618;OriginalHitTemplateId:928390889;,300,2592000,Tue Sep 10 08:16:06 PDT 2019,NaN,NaN,3018Q3ZVOK35RWMZIDDUATSCTO5ARG,A34AQDMF5GVHVY,Submitted,Wed Aug 21 08:30:22 PDT 2019,Wed Aug 21 08:30:28 PDT 2019,Fri Sep 20 08:30:28 PDT 2019,NaN,NaN,Ceramic,Paper,NaN,Very Low
1,BatchId:3742618;OriginalHitTemplateId:928390889;,300,2592000,Tue Sep 10 08:16:06 PDT 2019,NaN,NaN,32Q90QCQ1UYMU5QG8Y6J50WPJB2KEL,A2C73Y1COWCA51,Submitted,Wed Aug 21 08:18:48 PDT 2019,Wed Aug 21 08:18:52 PDT 2019,Fri Sep 20 08:18:52 PDT 2019,NaN,NaN,Ceramic,Paper,NaN,Very Low
2,BatchId:3742618;OriginalHitTemplateId:928390889;,300,2592000,Tue Sep 10 08:16:06 PDT 2019,NaN,NaN,32VNZTT0A9HQP76I9C33XQ6C1EJ4R9,A1Q7OOR64JJRCO,Submitted,Wed Aug 21 08:44:51 PDT 2019,Wed Aug 21 08:45:00 PDT 2019,Fri Sep 20 08:45:00 PDT 2019,NaN,NaN,Ceramic,Paper,NaN,Low
3,BatchId:3742618;OriginalHitTemplateId:928390889;,300,2592000,Tue Sep 10 08:16:06 PDT 2019,NaN,NaN,358010RM5G69GGB927AIVYSDFFPXVY,A2MCG5W6LHSRG9,Submitted,Wed Aug 21 08:28:25 PDT 2019,Wed Aug 21 08:31:07 PDT 2019,Fri Sep 20 08:31:07 PDT 2019,NaN,NaN,Ceramic,Paper,NaN,Very Low
4,BatchId:3742618;OriginalHitTemplateId:928390889;,300,2592000,Tue Sep 10 08:16:06 PDT 2019,NaN,NaN,35K3O9HUADQBEJY27NFMPN4KBF1FEU,AHCNB3U5FYB4N,Submitted,Wed Aug 21 08:43:38 PDT 2019,Wed Aug 21 08:43:44 PDT 2019,Fri Sep 20 08:43:44 PDT 2019,NaN,NaN,Ceramic,Paper,NaN,Low

In [13]:
shape_dataset = shape_dataset.drop(['RequesterAnnotation','AssignmentDurationInSeconds','AutoApprovalDelayInSeconds','Expiration','NumberOfSimilarHITs','LifetimeInSeconds','AssignmentId','AssignmentStatus','AcceptTime','SubmitTime','AutoApprovalTime','RejectionTime'],axis=1)

In [15]:
shape_dataset = shape_dataset.drop(['ApprovalTime','Answer.equal'],axis=1)

In [16]:
shape_dataset.head()

         WorkerId Input.item1_title Input.item2_title Answer.equal.label
0  A34AQDMF5GVHVY           Ceramic             Paper           Very Low
1  A2C73Y1COWCA51           Ceramic             Paper           Very Low
2  A1Q7OOR64JJRCO           Ceramic             Paper                Low
3  A2MCG5W6LHSRG9           Ceramic             Paper           Very Low
4   AHCNB3U5FYB4N           Ceramic             Paper                Low

In [17]:
shape_dataset.columns = ['workerid','object1','object2','similarity']

In [19]:
shape_dataset.to_csv("/home/hasan/Documents/BitRepos/orocv2/Material-data-extend.csv")

In [29]:
data_t = pd.read_csv("/home/hasan/Documents/BitRepos/orocv2/Material-data-extend.csv")

In [30]:
data_t.loc[data_t['similarity'] == 'Very High', ['similarity']] = 7
data_t.loc[data_t['similarity'] == 'High', ['similarity']] = 6
data_t.loc[data_t['similarity'] == 'Medium High', ['similarity']] = 5
data_t.loc[data_t['similarity'] == 'Medium', ['similarity']] = 4
data_t.loc[data_t['similarity'] == 'Medium Low', ['similarity']] = 3
data_t.loc[data_t['similarity'] == 'Low', ['similarity']] = 2
data_t.loc[data_t['similarity'] == 'Very Low', ['similarity']] = 1

In [27]:
data_t = data_t.drop('workerid',axis=1)

In [31]:
data_t.head()

   Unnamed: 0        workerid  object1 object2 similarity
0           0  A34AQDMF5GVHVY  Ceramic   Paper          1
1           1  A2C73Y1COWCA51  Ceramic   Paper          1
2           2  A1Q7OOR64JJRCO  Ceramic   Paper          2
3           3  A2MCG5W6LHSRG9  Ceramic   Paper          1
4           4   AHCNB3U5FYB4N  Ceramic   Paper          2

In [32]:
material_data_ex = data_t.groupby(["object1","object2"]).mean()

In [34]:
material_data_ex.head()

                    Unnamed: 0
object1  object2
Adhesive Brick           10342
         Cardboard       10062
         Ceramic          9292
         Cloth            9887
         Concrete        10307

In [35]:
material_data_ex.to_csv("/home/hasan/Documents/BitRepos/orocv2/Material-data-extend-mean.csv")

In [38]:
material_data_ex_mean = pd.read_csv("/home/hasan/Documents/BitRepos/orocv2/Material-data-extend-mean.csv", names=["material1","material2","similarity"])

In [41]:
material_data_ex_mean=material_data_ex_mean.iloc[1:]

In [42]:
material_data_ex_mean.head()

  material1  material2 similarity
1  Adhesive      Brick      10342
2  Adhesive  Cardboard      10062
3  Adhesive    Ceramic       9292
4  Adhesive      Cloth       9887
5  Adhesive   Concrete      10307

In [90]:
result_trans=result.T

In [91]:
from pandas.tools.plotting import radviz

In [92]:
result_trans.head()

,cuboid,cylinder,handle with bristles,high convexity,long narrow rectangular,medium convexity with handle,rectangular thin with legs,rectangular thin with legs and drawers,small thick rectangular,thin rectangular
cuboid,7.000000,2.333333,1.000000,2.000000,4.000000,1.666667,4.333333,4.666667,5.666667,3.666667
cylinder,2.333333,7.000000,1.000000,4.333333,3.000000,4.333333,1.666667,1.000000,1.000000,1.000000
handle with bristles,1.000000,1.666667,7.000000,1.000000,2.333333,1.000000,1.333333,1.333333,1.666667,1.666667
high convexity,1.000000,4.000000,1.333333,7.000000,3.666667,3.666667,1.000000,1.000000,1.000000,1.000000
long narrow rectangular,4.000000,2.666667,1.000000,2.666667,7.000000,1.000000,4.666667,4.000000,3.666667,5.666667

In [93]:
result_trans.to_csv("/home/hasan/files/shape_data_mean_T")